.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #43425d;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:#37374e;
}

.sidenav .mat-toolbar {
  background-color:#37374e;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 200px;
  background-color: #37374e;
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.list-item {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}