<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>autorenew</mat-icon>
        Conversie</a>
    </mat-nav-list>
    <mat-nav-list>
        <a mat-list-item href="#"><mat-icon>autorenew</mat-icon>
          Conversie</a>
      </mat-nav-list>
      <mat-nav-list>
          <a mat-list-item href="#"><mat-icon>autorenew</mat-icon>
            Conversie</a>
        </mat-nav-list>
<!-- <mat-grid-tile-footer> -->
  <div class="footer" #footer>
    <ul class="list">
        <li class="list-item"><h4 style="text-align: center; color: white;">Descarcare rapida(ultimele 24h)</h4></li>
          <cdk-virtual-scroll-viewport  style="height: 100px" itemSize="{{files.size}}" >
            <div *cdkVirtualFor="let file of files">
              <li class="list-item"><mat-icon>cloud_download</mat-icon><span>{{file.path}}</span></li>
            </div>
          </cdk-virtual-scroll-viewport>
        </ul>
      </div>
  <!-- </mat-grid-tile-footer> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>csvconvertor</span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
